<!-- animated-text.component.html -->
<svg viewBox="0 0 600 300">
    <!-- Symbol -->
    <symbol id="s-text">
      <text text-anchor="top" x="50%" y="50%" dy=".35em">
        Purity at it's best...
      </text>
    </symbol>
  
    <!-- Duplicate symbols -->
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>
  </svg>